body {
	background-color: #331D2C;
	color: #EFE1D1;
	margin:0;
	padding:0;
}

h1, h3 {
	font-family: 'Times New Roman', serif;
	color: #A78295 ;
}

h1 {
	text-align: center;
}

.recipeshot {
	width: 300px;
	height: auto;
}

.container {
	padding: 10px 20px;
	margin: 10px 20px;
}
